body {
    background-color: #1b1b1b;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.topbar {
    background-color: #1b1b1b; /* Dark purple */
    padding: 10px 25px;
    position: relative;
    z-index: 1;
    outline: 2px solid rgb(204, 0, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(204, 0, 255, 1);  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.topbar li {
    display: inline;
    margin: 0 20px;
     position: relative;
  display: inline-block;
  text-decoration: none;
  color: white; /* change to your color */
  font-size: 20px;
}


.topbar li {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* adjust underline position */
    width: 100%;
    height: 2px; /* underline thickness */
    background: white; /* underline color */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
}

.topbar li::after {
    transform: scaleX(1);
}




.topbar a {
    color: rgb(204, 0, 255);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.topbar a:hover {
    text-decoration: underline;
}

.title {
    color: azure;
    font-size: 36px;
    text-align: left;
    position: relative;
    z-index: 1; 
    margin: 0;
}
